@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
html,
body {
  font-family: "Montserrat";
  background: #ffffff;
  font-size: 18px;
  height: 100vh;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.content-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

header.header-responsive {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card-logo-header {
  padding: 10px;
  -webkit-margin-start: 100px;
  margin-inline-start: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.pipe {
  margin-left: 25px;
  font-size: 3em;
}

h2.title-brand {
  margin-left: 25px;
}

nav.card-nav-link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 300px;
}

a.link-header {
  text-decoration: none;
  color: #ffffff;
}

.link-header.active {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: #eee;
  text-decoration-color: #eee;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

a.icon {
  display: none;
}

.section-header {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 10%;
}

.container-brand-logo-bem {
  margin-right: 30px;
  margin-left: 50px;
}

.brand-logo {
  margin-top: 6px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.image-cover-card {
  position: absolute;
  width: 430px;
  height: 430px;
  left: 500px;
  top: 100px;
  z-index: 1;
}

.image-cover-ellipse {
  position: absolute;
  width: 700px;
  height: 500px;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.section-content-header {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px;
}

.container-header-contact {
  margin-bottom: -10%;
}

.overlay-bg {
  background: url("/bem-page/assets/img/Ellipse-2.png");
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: 50%;
  margin-left: -10px;
  margin-top: -50%;
}

h2.title-contact {
  display: block;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 40%;
  color: #eee;
  z-index: 2;
  font-size: 48px;
  width: 100%;
}

.section-body-contact {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100vh;
  padding: 0px 100px !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: inherit;
}

.card-content-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-maps {
  width: 100%;
  margin-right: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

iframe.maps {
  width: 100%;
}

.desc-address-maps {
  width: 100%;
}

.section-content-footer-contact {
  margin-top: 350px;
  padding: 30px;
  background-color: #2d3995;
}

footer.footer-responsive {
  position: fixed;
  margin-top: 75%;
  bottom: 0px;
  padding-bottom: 35px;
  height: 100%;
  background-color: #2d3995;
}

.card-content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-desc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-image-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-image-footer-bsi {
  margin-right: 25px;
  margin-left: 100px;
}

.card-image-footer-bem {
  margin-right: 25px;
}

.card-image-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 30px;
}

.card-image-footer-delarosa {
  width: 50px;
}

.card-desc-footer-bem {
  margin-left: 21px;
  display: block;
  color: #eaeaea;
}

.card-desc-footer-bem > h2 {
  width: 400px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  color: #ffffff;
}

.card-desc-footer-bem > p:not(:last-child) {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.card-desc-footer-bem > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.card-sosmed-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.card-sosmed-footer h2 {
  font-size: 1em;
  margin-right: 50px;
  color: #eaeaea;
}

.link-sosmed-instagram {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: -50px;
}

.link-sosmed-email {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: -150px;
}

.card-address-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.card-icon-address {
  margin-right: 25px;
}

.desc-address {
  color: #eaeaea;
  margin-right: 100px;
}

.copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin-left: 100px;
  /* identical to box height, or 186% */
  color: #ffffff;
}

@media screen and (min-width: 310px) and (max-width: 410px) {
  header.header-responsive.sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2d3995;
    z-index: 3;
  }
  header.header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 2px;
  }
  .card-logo-header {
    padding: 10px;
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 30%;
  }
  h2.title-brand {
    font-size: 2.4em;
    margin-left: 0px;
    width: 180px;
  }
  img.logo-bem {
    width: 25%;
  }
  .pipe {
    margin: auto 20px !important;
    font-size: 6em;
  }
  nav.card-nav-link a {
    display: none;
  }
  nav.card-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 5px;
  }
  nav.card-nav-link a.icon {
    float: right;
    display: block;
  }
  nav.card-nav-link.responsive {
    position: relative;
    display: block;
    background-color: #2d3995;
    width: 100%;
    margin-left: 0px;
  }
  nav.card-nav-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.card-nav-link.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 20px;
    margin: 10px;
  }
  a.icon {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  .container-header-contact {
    width: 100%;
  }
  h2.title-contact {
    font-size: 18px;
    top: 20%;
  }
  .overlay-bg {
    margin-top: -65%;
    padding-bottom: 5%;
  }
  .section-body-article {
    background: url(../img/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: contain;
    width: 100%;
    height: 150vh;
    text-align: center;
    margin-top: -175px;
  }
  h2.title-page {
    position: relative;
    top: 200px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .section-body-contact {
    padding: 0px 25px !important;
    height: 200vh;
  }
  .card-content-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-maps {
    margin-right: unset;
  }
  .card-desc-address > p {
    font-size: 15px;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: 100%;
    bottom: 0px;
    height: 100%;
    padding-bottom: 20px;
    background-color: #2d3995;
  }
  .card-content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 20px;
  }
  .card-desc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 26px;
  }
  .card-image-big {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto 20px;
  }
  .card-image-footer-bsi {
    margin: auto 20px;
    width: 35%;
  }
  .card-image-footer-bem {
    margin-right: 5px;
    width: 35%;
  }
  .card-image-small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 20px auto;
  }
  .card-image-footer-delarosa {
    width: 35%;
  }
  .card-desc-footer-bem {
    display: block;
    color: #eaeaea;
    margin-left: 0px;
  }
  .card-desc-footer-bem > h2 {
    width: 310px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p:not(:last-child) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 13px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 26px;
  }
  .card-sosmed {
    margin-left: 15%;
  }
  .card-sosmed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px auto;
  }
  .card-sosmed-footer a > img {
    width: 5%;
    margin: auto 80px !important;
  }
  .card-sosmed-footer h2 {
    margin: auto;
    font-size: 0.5em;
    margin-right: -40px;
    color: #eaeaea;
  }
  .link-sosmed-instagram {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: -50px;
  }
  .link-sosmed-email {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: -150px;
  }
  .card-address-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    margin: 10px auto;
  }
  .desc-address {
    color: #eaeaea;
    margin-right: 35px;
    font-size: 0.8em;
  }
  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    margin-left: 20px;
    color: #ffffff;
    text-align: center;
  }
}

@media screen and (min-width: 350px) and (max-width: 420px) {
  header.header-responsive.sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2d3995;
    z-index: 3;
  }
  header.header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .card-logo-header {
    padding: 10px;
    -webkit-margin-start: 20px;
    margin-inline-start: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 30%;
  }
  h2.title-brand {
    font-size: 2.4em;
    margin-left: 0px;
    width: 180px;
  }
  img.logo-bem {
    width: 25%;
  }
  .pipe {
    margin: auto 20px !important;
    font-size: 6em;
  }
  nav.card-nav-link a {
    display: none;
  }
  nav.card-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 70px;
  }
  nav.card-nav-link a.icon {
    float: right;
    display: block;
  }
  nav.card-nav-link.responsive {
    position: relative;
    display: block;
    background-color: #2d3995;
    width: 100%;
    margin-left: 0px;
  }
  nav.card-nav-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.card-nav-link.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 20px;
    margin: 10px;
  }
  a.icon {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  .container-header-contact {
    width: 100%;
  }
  h2.title-contact {
    font-size: 28px;
    top: 20%;
  }
  .overlay-bg {
    margin-top: -60%;
    padding-bottom: 10%;
  }
  .section-body-article {
    background: url(../img/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: contain;
    width: 100%;
    height: 150vh;
    text-align: center;
    margin-top: -175px;
  }
  h2.title-page {
    position: relative;
    top: 200px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .section-body-contact {
    padding: 0px 50px !important;
    height: 200vh;
  }
  .card-content-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-maps {
    margin-right: unset;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: 75%;
    bottom: 0px;
    height: 100%;
    padding-bottom: 20px;
    background-color: #2d3995;
  }
  .card-content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 20px;
  }
  .card-desc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 26px;
  }
  .card-image-big {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto 20px;
  }
  .card-image-footer-bsi {
    margin: auto 20px;
    width: 35%;
  }
  .card-image-footer-bem {
    margin-right: 5px;
    width: 35%;
  }
  .card-image-small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 20px auto;
  }
  .card-image-footer-delarosa {
    width: 35%;
  }
  .card-desc-footer-bem {
    display: block;
    color: #eaeaea;
  }
  .card-desc-footer-bem > h2 {
    width: 310px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p:not(:last-child) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 13px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 26px;
  }
  .card-sosmed {
    margin-left: 15%;
  }
  .card-sosmed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px auto;
  }
  .card-sosmed-footer a > img {
    width: 5%;
    margin: auto 80px !important;
  }
  .card-sosmed-footer h2 {
    margin: auto;
    font-size: 0.5em;
    margin-right: -40px;
    color: #eaeaea;
  }
  .link-sosmed-instagram {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: -50px;
  }
  .link-sosmed-email {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: -150px;
  }
  .card-address-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    margin: 10px auto;
  }
  .desc-address {
    color: #eaeaea;
    margin-right: 35px;
    font-size: 0.8em;
  }
  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    margin-left: 20px;
    color: #ffffff;
    text-align: center;
  }
}

@media screen and (min-width: 420px) and (max-width: 767.98px) {
  header.header-responsive.sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2d3995;
    z-index: 3;
  }
  header.header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .card-logo-header {
    padding: 10px;
    -webkit-margin-start: 10px;
    margin-inline-start: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 30%;
  }
  h2.title-brand {
    font-size: 2.8em;
    margin-left: 0px;
    width: 205px;
  }
  img.logo-bem {
    width: 25%;
  }
  .pipe {
    margin: auto 20px !important;
    font-size: 6em;
  }
  nav.card-nav-link a {
    display: none;
  }
  nav.card-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 10px;
  }
  nav.card-nav-link a.icon {
    float: right;
    display: block;
  }
  nav.card-nav-link.responsive {
    position: relative;
    display: block;
    background-color: #2d3995;
    width: 100%;
    margin-left: 0px;
  }
  nav.card-nav-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.card-nav-link.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 20px;
    margin: 10px;
  }
  a.icon {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  h2.title-page {
    position: relative;
    top: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .container-header-contact {
    width: 100%;
  }
  h2.title-contact {
    font-size: 28px;
    top: 25%;
  }
  .overlay-bg {
    margin-top: -60%;
    padding-bottom: 10%;
  }
  .section-body-article {
    background: url(../img/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: 0px -80px;
    background-size: contain;
    width: 100%;
    height: 150vh;
    text-align: center;
    margin-top: -175px;
  }
  h2.title-page {
    position: relative;
    top: 200px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .section-body-contact {
    padding: 0px 50px !important;
    height: 200vh;
  }
  .card-content-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .card-maps {
    margin-right: unset;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: 100%;
    bottom: 0px;
    height: 100%;
    padding-bottom: 20px;
    background-color: #2d3995;
  }
  .card-content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 20px;
  }
  .card-desc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 26px;
  }
  .card-image-big {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto 20px;
  }
  .card-image-footer-bsi {
    margin: auto 20px;
    width: 35%;
  }
  .card-image-footer-bem {
    margin-right: 5px;
    width: 35%;
  }
  .card-image-small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 20px auto;
  }
  .card-image-footer-delarosa {
    width: 35%;
  }
  .card-desc-footer-bem {
    display: block;
    color: #eaeaea;
  }
  .card-desc-footer-bem > h2 {
    width: 310px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p:not(:last-child) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 13px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 26px;
  }
  .card-sosmed {
    margin-left: 15%;
  }
  .card-sosmed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px auto;
  }
  .card-sosmed-footer a > img {
    width: 5%;
    margin: auto 80px !important;
  }
  .card-sosmed-footer h2 {
    margin: auto;
    font-size: 0.5em;
    margin-right: -40px;
    color: #eaeaea;
  }
  .link-sosmed-instagram {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: -50px;
  }
  .link-sosmed-email {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: -150px;
  }
  .card-address-footer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    margin: 10px auto;
  }
  .desc-address {
    color: #eaeaea;
    margin-right: 35px;
    font-size: 0.8em;
  }
  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    margin-left: 120px;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  header.header-responsive.sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2d3995;
    z-index: 4;
  }
  head.header-responsive.responsive {
    position: fixed;
    top: 0px;
  }
  .card-logo-header {
    padding: 10px;
    -webkit-margin-start: 30px;
    margin-inline-start: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 80%;
  }
  img.logo-bem {
    width: 18%;
  }
  nav.card-nav-link a {
    display: none;
  }
  nav.card-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 300px;
  }
  nav.card-nav-link a.icon {
    float: right;
    display: block;
  }
  nav.card-nav-link.responsive {
    position: relative;
    display: block;
    background-color: #2d3995;
    width: 100%;
    margin-left: 0px;
  }
  nav.card-nav-link.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.card-nav-link.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 20px;
    margin: 10px;
  }
  a.icon {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 25px;
  }
  h2.title-page {
    position: relative;
    top: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .overlay-bg {
    padding-bottom: 40%;
  }
  h2.title-contact {
    top: 30%;
  }
  .section-body-contact {
    height: 150vh;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: unset;
    bottom: 0px;
    height: 100%;
    background-color: #2d3995;
  }
  .card-content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 20px;
  }
  .card-desc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-desc-footer-bem > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 26px;
  }
  .card-image-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 90px;
    margin-right: 65px;
  }
  .card-image-footer-bsi {
    margin-right: 15px;
    margin-left: 100px;
    width: 50%;
  }
  .card-image-footer-bem {
    margin-right: 5px;
    width: 50%;
  }
  .card-image-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto 15px;
  }
  .card-image-footer-delarosa {
    width: 55%;
  }
  .card-desc-footer-bem {
    display: block;
    color: #eaeaea;
  }
  .card-desc-footer-bem > h2 {
    width: 310px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
  }
  .card-desc-footer-bem > p:not(:last-child) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
  }
  .card-sosmed {
    margin-left: 15%;
  }
  .card-sosmed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px auto;
  }
  .card-sosmed-footer a > img {
    width: 5%;
    margin: auto 80px !important;
  }
  .card-sosmed-footer h2 {
    margin: auto;
    font-size: 0.7em;
    margin-right: 50px;
    color: #eaeaea;
  }
  .card-address-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    margin: 10px auto;
  }
  .desc-address {
    color: #eaeaea;
    margin-right: 100px;
    font-size: 0.8em;
  }
  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    margin-left: 110px;
    color: #ffffff;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .card-logo-header {
    padding: 10px;
    -webkit-margin-start: 40px;
    margin-inline-start: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    color: #ffffff;
  }
  nav.card-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 150px;
  }
  h2.title-page {
    position: relative;
    top: 260px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .section-body-article {
    position: relative;
    background: url(../img/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: 0px -360px;
    background-size: cover;
    width: 100%;
    height: 110vh;
    text-align: center;
    margin-top: -175px;
  }
  .card-wrapper-content-article {
    width: 100%;
    height: 100%;
    padding-top: 50%;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: unset;
    height: 100%;
    background-color: #2d3995;
  }
  .card-content-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-desc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-image-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .card-image-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: auto;
  }
  .card-desc-footer-bem {
    margin-left: 90px;
    display: block;
    color: #eaeaea;
  }
  .card-sosmed {
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
  }
  .card-sosmed-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 125px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: center;
    align-self: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .card-address-footer {
    margin-left: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
  }
  .copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-left: 145px;
    color: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .card-wrapper-content-article {
    width: 100%;
    height: 100%;
    padding-top: 45%;
  }
  footer.footer-responsive {
    position: relative;
    margin-top: unset;
    height: 200px;
    background-color: #2d3995;
  }
}
/*# sourceMappingURL=contact.css.map */
